<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AirB&B.com</title>
  <link rel="stylesheet" href="style/style.css">
  <script src="airbnb.js"></script>
</head>

<body>

  <div class="cover">

    <div id="header">
      <span style="color: coral;">Airb&b.com</span>

      <a href="/">
        <h2>Place to stay</h2>
      </a>
      <a href="/room">
        <h2>Explore Room</h2>
      </a>
      <a href="#">
        <h2>Online Experiences</h2>
      </a>

      <a style="float: right;" href="/signup">
        <h2>Sign in</h2>
      </a>
      <a style="float: right;" href="/signup">
        <h2>Log in</h2>
      </a>

    </div>

    <div id="navigation">
      <p>Welcome to AirB&B</p>
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><a href="/signup">Sign
          Up</a></button>
    </div>

{{{body}}}

    <footer>

      <div id="about">
        <h2>ABOUT</h2>
        <button><a href="">
            <p>How Airbnb works</p>
          </a></button>
        <button><a href="">
            <p>Newsroom</p>
          </a></button>
        <button><a href="">
            <p>Airbnb Luxe</p>
          </a></button>
        <button><a href="">
            <p>Hotel Tonight</p>
          </a></button>
        <button><a href="">
            <p>Careers</p>
          </a></button>


      </div>



      <div id="icon-menu">
        <h3>Stay Connected</h3>
        <a href="#">
          <img src="img/facebook.png" width="56" height="54" alt="Facebook icon" title="Go to Facebook." />
        </a>

        <a href="#">
          <img src="img/Instagram.png" width="54" height="54" alt="Instagram Icon" title="Go to Instagram" />
        </a>

        

        <a href="#">
          <img src="img/twitter.png" width="54" height="54" alt="Twitter icon" title="Go to Twitter." />
        </a>

        <a href="#">
          <img src="img/youtube.png" width="55" height="54" alt="Youtube icon" title="Go to Youtube." />
        </a>
      </div>

      <div id="last-f">
        <p>All Rights Reserved &copy; 2020 Mansi</p>
      </div>
    </footer>



</body>

</html>