<!--
--Name - Mansi Verma
--Seneca ID - 141641191
--Seneca Email - mverma37@myseneca.ca
--Date - 31 October 2020
Did all the .hbs .js Node and Express by myself. Got help for photos from unsplash which is really a helpful site.
-->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to AirB&B.com</title>
  <link rel="stylesheet" href="style/style.css">
  <script src="airbnb.js"></script>
</head>

<script src="https://kit.fontawesome.com/8d7c374ea1.js" crossorigin="anonymous"></script>

<body>

  <div class="cover">

    <div id="header">
      <span style="color: coral;">Airb&b.com</span>

      <a href="/">
        <h2>Place to stay</h2>
      </a>
      <a href="/room">
        <h2>Explore Room</h2>
      </a>
      <a href="#">
        <h2>Online Experiences</h2>
      </a>
      {{#if user}}
        {{#if user.host}}
        <a style="float: right;" href="/host">
          <h2>Host</h2>
        </a>
        {{else}}
        <a style="float: right;" href="/profile">
          <h2>Profile</h2>
        </a>
        {{/if}}
        <a style="float: right;" href="/logout">
          <h2>Logout</h2>
        </a>
      {{else}}
      <a style="float: right;" href="/signup">
        <h2>Sign in</h2>
      </a>
      <a style="float: right;" href="/login">
        <h2>Log in</h2>
      </a>
      {{/if}}

    </div>

    <div id="navigation">
      <p>Welcome to AirB&B</p>
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><a href="/signup">Sign
          Up</a></button>
    </div>

{{{body}}}

    <footer>

      <div id="about">
        <h2>ABOUT</h2>
        <button><a href="">
            <p>How Airbnb works</p>
          </a></button>
        <button><a href="">
            <p>Newsroom</p>
          </a></button>
        <button><a href="">
            <p>Airbnb Luxe</p>
          </a></button>
        <button><a href="">
            <p>Hotel Tonight</p>
          </a></button>
        <button><a href="">
            <p>Careers</p>
          </a></button>


      </div>



      <div id="icon-menu">
        <h3 style="font-family: cursive; font-size: 30px;">Stay Connected</h3>

         <div class="icon">
                <a href="#" target="_blank">
                  <i class="fa fa-facebook fa-2x"></i>
                  <span>Facebook</span>
                </a>
              </div>

              <div class="icon">
                <a href="#" target="_blank">
                  <i class="fa fa-youtube fa-2x"></i>
                  <span>Youtube</span>
                </a>
              </div>

               <div class="icon">
                <a href="#" target="_blank">
                  <i class="fa fa-instagram fa-2x"></i>
                  <span>Instagram</span>
                </a>
              </div>

               <div class="icon">
                <a href="#" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
                  <span>Twitter</span>
                </a>
              </div>

        

      <div id="last-f">
        <p>All Rights Reserved &copy; 2020 Mansi</p>
      </div>
    </footer>

            


              


</body>

</html>