<!--
--Name - Mansi Verma
--Seneca ID - 141641191
--Seneca Email - mverma37@myseneca.ca
--Date - 31 October 2020
Did all the .hbs .js Node and Express by myself. Got help for photos from unsplash which is really a helpful site.
-->


<div id="form-1">
  <h1>Book unique place to <br> stay and things to do</h1>
  <label>WHERE</label>
  <input type="text" placeholder="Anywhere">
  <div id="lab">
    <div id="lab1">
      <label>CHECK-IN</label>
      <input type="datetime" value="OCT 21, 2020"></div>
    <div id="lab2">
      <label>CHECK-OUT</label>
      <input type="datetime" value="OCT 24,2020"></div>
  </div>
  <label>GUEST</label>
  <input type="number" placeholder="1 guest">
  <div id="lab3">
    <input type="submit" value="Search">
  </div>

</div>
<div id="h1-tr">
  <h2 style="padding-bottom: 0px;">Go to Closest Sites</h2>
  <p> Explore more and get ready with your excitement to discover more.</p>
  <button><a href="/room">Explore Now</a></button>
</div>

</div>

<h2 style="text-align: center; margin-top: 20px;     
    text-align: center;
    margin-top: 60px;
    font-size: xx-large;
    font-family: cursive;
    padding-bottom: 0;
    padding-bottom: 0;"> Much More to Do (Promotional) </h2>

<div id="promo">

  <div class="p1">
    <img src="/img/promo1.jpg">
    <p>120$</p>
  </div>

  <div class="p1">
    <img src="/img/promo2.jpg">
    <p>100$</p>
  </div>
  <div class="p1">
    <img src="/img/promo3.jpg">
    <p>80$</p>
  </div>
  <div class="promo-con">
    <p>Our company collaborates with @theBigService and the Barette Brand to give our customers much more exciting an
      experience and help them to get better packages at better rates.</p>
  </div>



</div>

<div id="info">
  <h1>We embrace a world where<br> everyone belongs.</h1>
  <button style="color: white;
        font-size: larger;
        padding: 10px;
        border: 1.5px solid tomato;
        border-radius: 8px;
        text-decoration: none;
        background-color: tomato;">More Info</button>
  <p>"AirB&B is really helpful to their customers in terms of they provide complete travel packages, at better rates,
    extra facilities, services including spa services and more promotional activities to do."</p>

  <div class="img1">
    <img src="/img/info1.jpg">


  </div>

  <div class="img1">
    <img src="/img/info-2.jpg">
  </div>
</div>