<link rel="stylesheet" href="style/style2.css">
<div class="grid-container">

  <div id="room1">
    <img src="image/room6.jpg" alt="room1">
    <p style="font-weight: bold;">ENTIRE APARTMENT - LISBON</p>
    <p>Chiado Loft 7 with Patio!</p>
    <P>$130 CAD/night</P>
    <p><span>*</span>4.87(363) - Superhost</p>

  </div>
  <div id="room2">
    <img src="image/room1.jpg" alt="room2">
    <p style="font-weight: bold;">ENTIRE HOUSE - LA</p>
    <p>Feel the party!</p>
    <P>$139 CAD/night</P>
    <p><span>*</span>4.88(363) - Superhost</p>

  </div>
  <div id="room3">
    <img src="image/room2.jpg" alt="room3">
    <p style="font-weight: bold;">ENTIRE APARTMENT - TORONTO</p>
    <p>Chiado Loft 7 with Patio!</p>
    <P>$190 CAD/night</P>
    <p><span>*</span>4.80(363) - Superhost</p>
  </div>
  <div id="room4">
    <img src="image/room3.jpg" alt="room4">
    <p style="font-weight: bold;">ENTIRE APARTMENT - NEW YORK</p>
    <p>Chiado Loft 7 with Patio!</p>
    <P>$240 CAD/night</P>
    <p><span>*</span>4.87(363) - Superhost</p>

  </div>
  <div id="room5">
    <img src="image/room4.jpg" alt="room5">
    <p style="font-weight: bold;">ENTIRE HOUSE - VANCOUVER</p>
    <p>Beautiful British Columbia!</p>
    <P>$130 CAD/night</P>
    <p><span>*</span>4.87(363) - Superhost</p>

  </div>
  <div id="room6">
    <img src="image/room5.jpg" alt="room6">
    <p style="font-weight: bold;">ENTIRE APARTMENT - LISBON</p>
    <p>Chiado Loft 7 with Patio!</p>
    <P>$130 CAD/night</P>
    <p><span>*</span>4.87(363) - Superhost</p>

  </div>

</div>