<!--
--Name - Mansi Verma
--Seneca ID - 141641191
--Seneca Email - mverma37@myseneca.ca
--Date - 31 October 2020
Did all the .hbs .js Node and Express by myself. Got help for photos from unsplash which is really a helpful site.
-->
<h2 style="color: tomato; font-size: 45px; text-align: center; font-family: cursive;">Congratulations, {{data.firstName}}</h2>
<br>
<br>
<p style="color: tomato; font-size: 35px; text-align: center; font-family: cursive;">You signed up!</p>